<!DOCTYPE html>
<html>
    <head>
        <title>Browser tab name</title>
        <link rel="stylesheet" href="./css/style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="logo">
                BcInfo
            </div>
            <a href="#" class="hamburger" id="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <nav>
                <ul>
                    <li><a class="nav-link" href="index.html">Home</a></li>
                    <li><a class="nav-link" href="#">About</a></li>
                    <li><a class="nav-link" href="map.html">Map</a></li>
                    <li><a class="nav-link" href="weather.html">Weather</a></li>
                    <li><a class="nav-link" href="#">Projects</a></li>
                    <li><a class="nav-link" href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}

        {% endblock content %}
        <script src="./js/nav.js"></script>
    </body>
</html>
