{% extends  'base.html' %}

{% block content %}

    <div class="landing">
        <h1>BcInfo</h1>
        <h3>Get Informed</h3>
        <p>Plan your adventures door to door with BcInfo apps and detailed guides</p>
    </div>
    <div class="main">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa blanditiis inventore corporis in sequi, voluptates magnam, ratione vel nemo neque officia? Omnis natus tempora dolores ullam, porro a at ut!
    </div>

{% endblock content %}